@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased;
  }

  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
    background: #16171A;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #202125;
  }

  ::-webkit-scrollbar-thumb {
    background: #2A2B2F;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #00B175;
  }
}
